* {
  box-sizing: border-box;
}
body {
  background: #33658A;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
button {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  cursor: pointer;
  background-color: #FF1053;
  padding: 1rem;
  margin: 2rem 2rem;
  border: 3px solid #FF1053;
  outline: none;
  border-radius: 1rem;
  color: #FFF;
  font-size: 1.2rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.4s ease;
}
button:hover {
  background-color: #0B3954;
  border-radius: 2rem;
}
button:active {
  background-color: #0B3954;
  border-radius: 2rem;
}
h1 {
  font-weight: bold;
  color: #fff;
}
textarea {
  background-color: #A9B4C2;
  outline: none;
  overflow: auto;
  width: 700px;
  height: 200px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: 'Rubik', sans-serif;
  font-size: x-large;
  color: #0B3954;
}
.App {
  text-align: center;
}
